:root {
	--bg-color: lightgreen;
	--bg-time: black;
	--bg-weather: white;
	--header-color: white;
	--text-shadow: 2px 2px 5px gray;
	--container-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	--main-time-color: white;
	--greetings-color: white;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: var(--bg-color);
}

.header {
	text-align: center;
	padding: 0.2rem;
}

.header__title {
	font-size: 60px;
	color: var(--header-color);
	text-shadow: var(--text-shadow);
}

.greetings {
	text-align: center;
	text-shadow: var(--text-shadow);
}

.greetings > p {
	margin-top: 0;
}

.greetings__text {
	font-size: 40px;
	font-style: italic;
	color: var(--greetings-color);
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: 'time weather';
	width: 70%;
	height: 70vh;
	margin-left: auto;
	margin-right: auto;
	box-shadow: var(--container-shadow);
}

.main__time {
	grid-area: time;
	color: var(--main-time-color);
	background-color: var(--bg-time);
}

.clock {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.clock span {
	font-size: 100px;
}

.main__weather {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		'date'
		'weather';
	grid-area: weather;
	background-color: var(--bg-weather);
	text-align: center;
}

.month {
	grid-area: date;
	font-size: 70px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: auto;
	margin-bottom: auto;
}

.weather {
	grid-area: weather;
	margin-top: 0;
	margin-bottom: auto;
	font-size: 50px;
}

@media only screen and (max-width: 1000px) {
	.clock span {
		font-size: 40px;
	}

	.header__title {
		font-size: 40px;
	}

	.main {
		height: 65vh;
	}

	.month {
		font-size: 40px;
	}

	.weather {
		font-size: 30px;
	}

	.greetings__text {
		font-size: 30px;
	}
}
